@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;900&display=swap');

body {
  font-family: inter;
}

header {
  background-color: #FFF7ED;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

header > span {
  font-weight: 900;
  font-size: 1.5rem;
}

.header_link {
  margin-left: 1.7rem;
  color: #4D4D4D;
  font-weight: 600;
}