@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  font-family: inter;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #FFF7ED;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

header > span {
  font-weight: 900;
  font-size: 1.5rem;
}

.header_link {
  margin-left: 1.7rem;
  color: #4D4D4D;
  font-weight: 600;
}

main {
  flex: 1 0 auto;
  position: relative;
  background-image: url("../public/backg_home.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 387px;
  overflow-y: auto;
}

main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
}

.main_content {
  width: 90%;
  max-width: 476px;
  z-index: 1;
  position: relative;
}

h1 {
  margin: 0 0 0.7rem 0;
}

.main_content p {
  font-size: 13px;
  margin: 0.4rem 0;
}

.find_your_van {
  background-color: #FF8C38;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  border: none;
  padding: 0.7rem 0;
  margin-top: 2rem;
}

footer {
  color: #AAAAAA;
  font-weight: 500;
  font-size: 0.8rem;
  background-color: #252525;
  text-align: center;
  padding: 1.5rem 0;
  flex-shrink: 0;
}